/* GENERAL RULES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

a,
i {
  text-decoration: none;
  color: #32495b;
}

/* CLEARFIX RULES */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

/* BUTTONS */
.orange-btn {
  padding: 8px;
  color: white;
  background-color: #fe775a;
  border-radius: 5px;
}

.white-btn {
  padding: 8px;
  color: #fe775a;
  background-color: white;
  border: 1px solid #fe775a;
  border-radius: 5px;
}

.big-btn {
  padding: 20px;
}

/* GENERAL CONTAINER DIMENSIONS */
.container {
  width: 70%;
  height: 100%;
  margin: auto;
}

/* HEADER */
header {
  position: relative;
  height: 100vh;
  background-color: #fff3ee;
  background-repeat: no-repeat;
  background-image: url(../img/jumbotron.png);
  background-position: 100% 101%;
}

/* UPPER HEADER */
.up-header {
  height: 80px;
  background-color: #f4f9fd;
  border-bottom: 1.5px solid black;
}

.up-nav-sx,
.up-nav-dx,
.low-nav {
  line-height: 80px;
}

.up-nav-sx li {
  padding-right: 20px;
}

.up-nav-sx li:first-child a {
  border-right: 2px solid #32495b;
  padding-right: 20px;
}

.up-nav-dx li {
  padding-left: 20px;
}

/* LOWER HEADER */
.low-header {
  height: 80px;
  background-color: #fff;
}

.logo {
  line-height: 90px;
}

.low-nav li {
  padding-left: 30px;
}

.low-nav i {
  margin-left: 15px;
}

/* JUMBOTRON */
.jumbotron {
  background-color: #fff3ee;
}

.green-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 85px;
  background-color: #afebe4;
  border-bottom: 3px solid #33475b;
  border-top: 3px solid #33475b;
  z-index: 1;
}
