/* - - GENERAL RULES - - */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #33475b;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

a,
i {
  text-decoration: none;
  color: #32495b;
  font-weight: 400;
}

p {
  line-height: 1.6;
  color: #33475b;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  margin-bottom: 30px;
}

/* CLEARFIX RULES */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

/* BUTTONS */
.orange-btn {
  padding: 10px 8px;
  color: white;
  background-color: #fe775a;
  border-radius: 5px;
  border: 1px solid transparent;
}

.white-btn {
  padding: 10px 8px;
  color: #fe775a;
  background-color: white;
  border: 1px solid #fe775a;
  border-radius: 5px;
}

.big-btn {
  padding: 20px 30px;
}

/* BUTTONS HOVER */
.orange-btn:hover {
  /* background-color: transparent;
  border: 1px solid #fe775a;
  color: #fe775a; */
  opacity: 0.6;
}

.white-btn:hover {
  background-color: rgba(254, 120, 90, 0.25);
}

/* GENERAL CONTAINER DIMENSIONS */
.container {
  width: 70%;
  height: 100%;
  margin: auto;
}

/* - - HEADER - - */
header {
  position: relative;
  height: calc(100vh - 80px);
  background-color: #fff3ee;
  background-repeat: no-repeat;
  background-image: url(../img/jumbotron.png);
  background-position: 100% 100%;
}

/* UPPER HEADER */
.up-header {
  width: 100%;
  height: 80px;
  background-color: #f4f9fd;
  border-bottom: 1.5px solid #33475b;
  position: fixed;
  top: 0;
  z-index: 2;
}

.up-header,
.low-header {
  line-height: 80px;
}

.up-nav-sx li {
  padding-right: 20px;
}

.up-nav-sx li:hover {
  color: #06a6bf;
}

.up-nav-sx a:hover {
  color: #06a6bf;
  text-decoration: underline;
}

.up-nav-sx li:first-child a {
  border-right: 1.5px solid #32495b;
  padding-right: 20px;
}

.up-nav-dx li {
  padding-left: 20px;
}

.up-nav-dx li:first-child i {
  color: #06a6bf;
}

/* LOWER HEADER */
.low-header {
  height: 80px;
  background-color: #fff;
  margin-top: 80px;
  box-shadow: 0 2px 10px lightgray;
}

.logo img {
  vertical-align: middle;
}

.low-nav li {
  padding-left: 30px;
}

.low-nav a:hover {
  text-decoration: underline;
  color: #06a6bf;
}

.low-nav i {
  margin-left: 15px;
}

/* Hamburger Menù on mobile */
.hamburger {
  display: none;
}

/* JUMBOTRON */
.jumb-text {
  width: 50%;
  text-align: left;
  margin-top: 60px;
}

.jumb-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 30px;
}

.jumb-text p {
  margin-bottom: 50px;
}

.jumb-text a {
  margin-bottom: 20px;
}

.jumb-text small {
  margin-top: 50px;
  display: block;
}

/* BARRA VERDE JUMBOTRON */
.jumbotron::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 84px;
  background-color: #afebe4;
  border-bottom: 3px solid #33475b;
  border-top: 3px solid #33475b;
  z-index: 1;
}

/* - - MAIN - - */

main {
  background-color: #f4f9fd;
}

/* SEZIONE SERVIZI */

/* Prima Parte */
.rubick {
  text-align: center;
  padding: 50px 150px;
}

.rubick img {
  height: 200px;
}

.rubick h2 {
  font-size: 200%;
}

/* Seconda Parte - Singola Colonna*/
.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px lightgray;
  margin-bottom: 50px;
}

.single-box {
  height: 350px;
  padding: 50px;
  text-align: center;
}

.sx-section {
  width: 30%;
  height: 100%;
}

.single-box .sx-section img {
  height: 50%;
  margin-bottom: 40px;
}

.dx-section {
  width: 70%;
  height: 100%;
  text-align: left;
}

/* Modifica esclusivamente al primo p */
.dx-section p:nth-child(2) {
  padding-right: 150px;
}

/* Classe creata per poterla ripetere velocemente in altre sezioni del sito */
.popular-text {
  font-size: 110%;
  text-transform: uppercase;
  font-weight: 700;
}

/* Linea laterale creata con ::after */
.dx-section p:nth-child(3)::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  height: 2px;
  margin: 0 50px;
  background-color: gray;
}

.dx-section p {
  margin-bottom: 28px;
}

.dx-section li {
  margin-right: 20px;
}

.dx-section i {
  color: #fe775a;
  margin-right: 20px;
}

/* Terza Parte - 3 Colonne */
.three-column-services .triple-box:nth-child(2) {
  margin: 0 5%;
}

.triple-box {
  width: 30%;
  text-align: center;
  padding: 20px 40px;
}

.triple-box img {
  height: 100px;
  margin-bottom: 20px;
}

.triple-box > :nth-child(3) {
  margin-bottom: 30px;
}

.triple-box > :nth-child(3)::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: gray;
  margin-top: 70px;
}

.triple-box ul {
  margin-top: 30px;
  text-align: left;
}

.triple-box li {
  display: block;
}

.triple-box i {
  color: #fe775a;
  margin-right: 15px;
}

.triple-box > a {
  display: inline-block;
  margin: 50px 0 5px;
}

/* SEZIONE NUMERI AZIENDA */
.numbers {
  height: 700px;
  background-image: linear-gradient(to right, #00aab8, #00bba8);
  padding: 50px 0;
}

/* Sezione Testo */
.text-numbers {
  text-align: center;
  color: white;
  margin-bottom: 60px;
}

.text-numbers h1 {
  font-size: 200%;
  margin-bottom: 30px;
}

.text-numbers p {
  color: white;
}

/* Sezione numeri */
.down-num-boxes {
  border-top: 1px solid white;
}

.num-boxes {
  width: calc(100% / 4);
  height: 50%;
  text-align: center;
  padding: 20px 30px;
}

.divisor {
  border-right: 1px solid white;
}

.num-boxes img {
  height: 35px;
}

.num-boxes > :nth-child(2) {
  color: white;
  font-size: 250%;
  font-weight: 700;
}

.num-boxes > :nth-child(2)::after {
  content: "+";
  font-size: 60%;
  font-weight: normal;
  vertical-align: middle;
  margin-left: 5px;
}

.num-boxes > :nth-child(3) {
  color: white;
  font-size: 90%;
}

/* SEZIONE CUSTOMERS - PARTNERS */
.customers {
  height: 700px;
}

.customers-list {
  padding: 40px 80px;
  height: 300px;
}

.list-num {
  text-align: left;
  width: 30%;
  height: 100%;
  margin-right: 100px;
}

.customers-list .list-num h2 {
  font-size: 250%;
}

.customers-list .list-num p {
  width: 70%;
}

.list-partners {
  width: calc(70% - 100px);
  height: 100%;
  text-align: center;
}

.box-row {
  height: 50%;
}

.box-row li {
  display: inline-block;
  margin-right: 20px;
}

.box-row li img {
  width: 120px;
  vertical-align: middle;
}

/* SEZIONE CUSTOMERS - CTA */
.customers-cta .cta {
  width: 40%;
  height: 400px;
}

.cta h1 {
  font-size: 200%;
  margin-bottom: 40px;
}

.cta p,
.cta a {
  margin-bottom: 60px;
}

.cta small {
  display: block;
  margin-top: 60px;
}

.customers-cta .cta-img {
  text-align: right;
  width: 60%;
  height: 350px;
}

.cta-img img {
  height: 100%;
}

/* FOOTER */
footer {
  height: 600px;
  background-color: #32495b;
}

footer p {
  color: white;
}

footer a {
  color: #cbd6e2;
}

footer a:hover {
  text-decoration: underline;
  color: lightskyblue;
}

.footer-nav {
  height: 65%;
}

.footer-col {
  width: calc(100% / 4);
  height: 100%;
  padding: 30px 0;
  margin-bottom: 40px;
}

.footer-col p {
  font-size: 105%;
  font-weight: 700;
  margin-bottom: 30px;
}

.footer-col li {
  display: block;
  margin-bottom: 20px;
}

.footer-col:last-child ul > li:nth-child(5) {
  margin-bottom: 30px;
}

/* Pulsante Contatti Parte sup. footer */
.contact-btn {
  font-size: 90%;
  background-color: #cbd6e2;
  color: #32495b;
  padding: 10px;
  border-radius: 5px;
}

.contact-btn:hover {
  text-decoration: none;
  background-color: #cbd6e2cb;
  color: #32495b;
}

/* Icone Social Parte sup. footer */
.social-icons li {
  display: inline-block;
  margin-top: 10px;
}

.social-icons i {
  color: #cbd6e2;
  margin-right: 20px;
}

.social-icons i:hover {
  cursor: pointer;
  color: lightskyblue;
}

/* Footer Inferiore */
.footer {
  height: 35%;
}

.languages-section {
  text-align: center;
  margin-bottom: 20px;
}

.footer hr {
  color: #cbd6e2;
}

.languages-section a {
  margin-right: 30px;
}

.copyright-footer {
  padding: 30px 0;
}

.copy-sx img {
  opacity: 0.7;
}

.copy-sx p img {
  width: 20px;
  vertical-align: middle;
  margin-left: 5px;
  opacity: 1;
}

.copy-sx p {
  font-weight: 700;
}

.copy-sx a {
  color: white;
  font-weight: 700;
}

.copy-dx li {
  margin-left: 25px;
}

/* CHAT BOT */
/* BOX */
.chat-box {
  width: 240px;
  height: 116px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 97px;
  right: 16px;
  z-index: 2;
  text-align: center;
}

.chat-box img {
  height: 48px;
  text-align: center;
  margin-bottom: 10px;
  transform: translateY(-50%);
}

.chat-box a {
  text-align: right;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

.chat-box i {
  color: #7c98b6;
}

.chat-box a:hover {
  cursor: pointer;
}

.chat-box p {
  text-align: left;
  font-size: 14px;
  transform: translateY(-45%);
  padding: 15px;
  line-height: 1.8;
}

/* PULSANTE */
.chat-bot {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #425b76;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 3;
}

.chat-bot:hover {
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.chat-icon {
  text-align: center;
  margin-top: 16px;
}

.chat-icon i {
  color: white;
  font-size: 30px;
}

/* RESPONSIVE SECTION */

/* Visualizzazione Tablet */
@media screen and (max-width: 768px) {
  /* Eliminazione Box Chat Bot */
  .chat-box {
    display: none;
  }

  /* General */
  .container {
    width: 80%;
  }

  header {
    background-size: 100%;
  }

  /* Barra menù principale */
  .low-nav {
    display: none;
  }

  .hamburger {
    display: inline-block;
    font-size: 250%;
  }

  /* Sezione Jumbotron */
  .jumb-text {
    width: 70%;
    margin-top: 40px;
  }

  .jumb-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .jumb-text p {
    margin-bottom: 40px;
  }

  .jumb-text a {
    margin-bottom: 15px;
  }

  .jumb-text small {
    margin-top: 40px;
    width: 50%;
  }

  .jumbotron::after {
    display: none;
  }

  /* Sezione Servizi */
  .rubick {
    padding: 50px 50px;
  }

  .single-box {
    height: 500px;
    padding: 30px 50px;
  }

  .sx-section {
    width: 100%;
    height: 40%;
  }

  .single-box .sx-section img {
    height: 90%;
    margin-bottom: 30px;
  }

  .dx-section {
    width: 100%;
    height: 40%;
    margin-top: 95px;
    text-align: center;
  }

  .dx-section p:nth-child(2) {
    padding-right: 0;
  }

  .dx-section p:nth-child(3)::after {
    display: none;
  }

  .dx-section h2 {
    margin-bottom: 10px;
  }

  .dx-section p {
    margin-bottom: 8px;
  }

  .three-column-services .triple-box:nth-child(2) h2 {
    font-size: 25px;
  }

  .triple-box {
    padding: 20px 20px;
  }

  .triple-box > :nth-child(3)::after {
    margin-top: 40px;
  }

  .triple-box > :nth-child(3) {
    height: 280px;
    margin-bottom: 0;
  }

  .triple-box .popular-text {
    line-height: normal;
  }

  .triple-box li {
    font-size: 12px;
  }

  .triple-box i {
    margin-right: 5px;
  }

  /* Sezione Numeri Azienda */
  .num-boxes {
    padding: 20px 5px;
  }

  .num-boxes img {
    height: 30px;
  }

  .num-boxes p {
    font-size: 220%;
  }

  /* Sezione Customers */
  .customers-list {
    padding: 40px 0px;
  }

  .list-num {
    margin-right: 0;
  }

  .customers-list .list-num h2 {
    font-size: 220%;
  }

  .list-partners {
    width: 70%;
  }

  .box-row {
    margin-top: 20px;
  }

  .box-row li {
    margin-right: 5px;
  }

  .box-row li img {
    width: 98px;
  }

  /* Sezione CTA */
  .cta h1 {
    font-size: 180%;
    margin-bottom: 20px;
  }

  .cta p {
    margin-bottom: 40px;
    line-height: normal;
  }

  .cta small {
    margin-top: 50px;
  }

  /* Footer */
  footer {
    height: 700px;
  }

  .footer-nav {
    height: 75%;
  }

  .footer-col {
    padding: 30px 15px 0;
    margin-bottom: 0;
  }

  .footer-col p {
    font-size: 95%;
    line-height: normal;
    margin-bottom: 20px;
  }

  .footer-col li {
    margin-bottom: 10px;
  }

  .footer-col:last-child ul > li:nth-child(5) {
    margin-bottom: 20px;
  }

  .contact-btn {
    font-size: 60%;
    padding: 10px 5px;
  }
}
